@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&display=swap");
body {
  background-image: url(/bg_ahorcado.jpg);
  background-position: center;
  background-size: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: rgb(0, 0, 0);
  font-family: "Caveat", cursive;
}

h2 {
  color: rgb(0, 0, 0);
  font-family: "Caveat", cursive;
  font-weight: bold;
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 5px;
}

h2 {
  padding-left: 10px;
  font-size: 1.5rem;
  text-align: center;
}

.navStyle {
  background-color: rgba(0, 60, 255, 0.368627451);
  width: 100%;
  font-family: "Caveat", cursive;
  font-weight: bold;
}

.navbar-brand {
  font-size: 2rem;
  border-radius: 10px black;
}

.containerInstrucciones {
  border: solid rgb(73, 69, 69);
  border-radius: 5px;
  margin: 10px;
  padding-top: 10px;
}

.instruccionesText {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 10px;
}

.containerBtns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.btnSolitario {
  margin: 5px;
  background-color: grey;
  font-weight: bold;
}

.btnMultiplayer {
  font-weight: bold;
}

#wordContainer {
  margin-top: 20px;
}

.letter {
  margin: 0 7px;
  position: relative;
  text-align: center;
  font-family: "Caveat", cursive;
  font-weight: bold;
}
.letter:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  min-width: 12px;
  background-color: black;
  font-family: "Caveat", cursive;
  font-weight: bold;
}

#startButton {
  width: 300px;
  padding: 10px;
  font-weight: 600px;
  font-size: 20px;
  margin: 20px 10px;
}

.containerUsedLetters {
  background-color: #C59CF0;
  border-radius: 10px;
  font-family: "Caveat", cursive;
}
.containerUsedLetters p {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 5px;
  padding: 5px;
  font-family: "Caveat", cursive;
}

.footer__copyright {
  width: 100%;
  text-align: center;
  color: #43525d;
  margin: 20px auto;
}
.footer__copyright p {
  font-size: 1rem;
  word-spacing: 2px;
  color: rgb(0, 0, 0);
  font-family: "Caveat", cursive;
}

.botones {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: rgba(0, 60, 255, 0.368627451);
  border: solid black;
  margin: 4px;
  font-family: "Caveat", cursive;
}

.btnIndex {
  background-color: rgba(255, 108, 108, 0.4196078431);
  border-radius: 10px;
  padding: 10px;
}

.containerBtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px auto;
}

.hidden {
  color: transparent;
}

.formModal {
  padding: 5px;
  margin: 5px;
}

.containerPlayers {
  border: solid 2px black;
  width: 50%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  margin: 10px 10px 20px 10px;
}
.containerPlayers .players {
  margin: 5px auto;
  border: solid 2px white;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: flex-end;
  font-family: "Caveat", cursive;
  font-weight: bold;
  font-size: 2rem;
  padding: 0px 5px 0px 5px;
}

/*# sourceMappingURL=main.css.map */
