
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,300&display=swap');

body{
    background-image: radial-gradient(circle at 50% -20.71%, #ffaf95 0, #ffa39a 10%, #ff969d 20%, #ff899c 30%, #f87b98 40%, #d86c8f 50%, #b95e84 60%, #9d537a 70%, #864a71 80%, #724369 90%, #613d62 100%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,h2{
    color: #43525d;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;

}

h1{
    text-align: center;
    font-size: 3rem;
}

h2{
    padding-left: 10px;
    font-size: 1.5rem;
    text-align: center;
}

.hidden{
    color: transparent;
}

#wordContainer{
    margin-top: 20px;
}

.letter{
    margin: 0 7px;
    position: relative;
    text-align: center;
    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        min-width: 12px;
        background-color: black;
    }
}

#startButton {
    width: 300px;
    padding: 10px;
    font-weight: 600px;
    font-size: 20px;
    margin: 20px 10px;
}

.containerUsedLetters{
    background-color: #C59CF0;
    border-radius: 10px;
    p{
        font-weight: bold;
        font-size: 20px;
        margin: 5px;
    }
}


.footer__copyright {
    width: 100%;
    text-align: center;
    color: #43525d;

    p {
        font-size: 1rem;
        word-spacing: 2px;
    }
}


